<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/{{show.id}}" method="POST">
        {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    
    {% csrf_token %} 
    <h1>Edit a New Show {{show.id}}</h1>

    <br>
    Title 
    <br>
    <input type="text" name='title' value="{{show.title}}" >
    <br>
    Network  
    <br>
    <input type="text" name="network" value="{{show.network}}">  
    <br>
    ReleaseDate
    <input type="date" name="relearsdate" value="{{show.release_date}}">
    <br>

    description 
    <br>
    <textarea name="desc" cols="30" rows="10" >{{show.descriptiont}}</textarea>
    <br>
    
    <input type="submit" value="Update">
</form>


    <br><br>
    <a href="/show/{{show.id}}">Go Back</a>

    <br>
    <a href="/shows">Go To Show</a>
</body>
</html>