<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checker_board</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    {% for i in range(checker): %}
    {% for j in range(ghazal): %} 
    {%set color = "lana"%}
    {%if (i + j)%2 == 0:%}
    {%set color = "ibraheem"%}
    {%endif%}
    {% endfor %}
    {% endfor %}
</body>
</html>