.lana {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: wheat;
}

.ibraheem {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: rgb(3, 85, 3);
}