<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h1>Add a Book</h1>
        <form action="addbook" method="POST">
        {% csrf_token%}
        <input type="hidden">
        Title : <input type="text" name="title"><br><br>
        Description : <textarea name="desc"></textarea><br><br>
        <button>Add</button>
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                {% for book in books%}
                <tr>
                    <td>
                        {{book.id}}
                    </td>
                    <td>
                        {{book.title}}
                    </td>
                    <td>
                        <a href="/shows/{{book.id}}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    <br>
    <a href="AddAuthor">Go To Authors Page</a>
        
</body>
</html>