<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>you reached this page</h2>
    <h3>{{thisbook.title}}</h3>
    <h3>{{thisbook.desc}}</h3>
    <h3>{{thisbook.id}}</h3>

    <h3>Authors</h3>
    <ul>
        {% for author in thisbook.Author.all %}
        <li>{{ author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>

    <div>
        <form action="/AddAuthorToBook/{{thisbook.id}}" method="POST">
        {% csrf_token %}
        <select name="selected_auther">
            {% for author in allauthors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
        <button>Add</button>
        </form>
    </div>
</body>
</html>