<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi,{{request.session.user_first_name}} {{request.session.user_last_name}}!</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/postCreation" method = 'POST'>
        {%csrf_token%}
        <textarea name="post" cols="50" rows="2" placeholder="Post a Great Thougth Here"></textarea>
        <button>Add a Thought</button>
        {% for post in all_posts %}
        <p> {{post.user_post.first_name}} Says: 
        <textarea name="post" cols="50" rows="2">{{post.post}}</textarea>
        {% if request.session.user == post.user_post%}
        <a href="/delete/{{post.id}}">delete</a>
        {% endif %}
        <a href="thought/{{post.id}}">Details</a>
        
        {% endfor %}
    </form>
    


    <a href="/logout">Logout</a>
</body>
</html>